<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-left">
        <a class="nav-item nav-link" href="/index">Home</a>
        <a class="nav-item nav-link" href="/favourites">Favourites</a>
        <a class="nav-item nav-link" href="/contributions">Contributions</a>
      </div>
      <div class="nav-logout">
        <button type="submit" class="btn btn-light">Logout</button>
      </div>
    </nav>
  </header>
</body>

</html>
