<header>
  <nav>
    <div class="nav-left">
      <a class="nav-item nav-link" href="/?userID=1">Home</a>
      <a class="nav-item nav-link" href="/favourites">Favourites</a>
      <a class="nav-item nav-link" href="/contributions">Contributions</a>
      <a class="nav-item nav-link" href="/createMap">Create New Map</a>
    </div>
    <div class="nav-logout">
      <button type="submit" class="btn btn-light">Logout</button>
    </div>
  </nav>
</header>
