<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <!-- <script type="text/javascript" src="/server.js"></script> -->
</head>

<body>
  <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <h3>My wikiMaps</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Created By</th>
            <th scope="col">Map Title</th>
            <th scope="col">View</th>

          </tr>
        </thead>
        <tbody>
          <% for(let map in maps) { %>
            <tr>
              <td><%= maps[map].name %></td>
              <td><%= maps[map].title %></td>
              <td><form method="GET" action="/viewmap/<%= maps[map].id %>">
                <button type="submit" id="btnSubmit" class="btn btn-outline-primary">View</button>
              </form></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <!-- bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>
