body {
  background-color: #45b858;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.contributions-table {
  display: flex;
  // align-items: center;
  align-items: flex-start;
  justify-content: space-evenly;
}
