body {
  background-color: #19729b;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

#submit-map {
  margin-top: 1em;
}

.btn-success {
  margin-top: 1em;
}
