body {
  background-color: #710fe0;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.favourites-table {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}
