body {
  background-color: #702dbd;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.favourites-table {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
}
